@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    a:hover {
        text-decoration: none;
    }

    body {
        overflow-y: hidden;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center" style="font-size: 3rem;">
            <a href="~/Restaurante">Restaurante</a>
        </div>
        <div class="col-md-6 text-center" style="font-size: 3rem;">
            <a href="~/Cliente">Cliente</a>
        </div>
    </div>
</div>
